// VARIABLES =======================================================================================
// Background
@bgColor: #eee;

// Text
@textFontFamily: "Source Sans Pro", Helvetica, sans-serif;
@titleFontFamily: "Nunito", Georgia, serif;
@textFontSize: 20px;
@lineHeight: 1.5rem;

// NORMALIZE =======================================================================================
* {
  box-sizing: border-box;
}
html {
  font-size: @textFontSize;
  height: 100%;
}

// PAGE ============================================================================================
body {
  background: @bgColor;
  font-family: @textFontFamily;
  margin: 0;
  padding: 0;
  #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    #header {
      flex: none;
      margin-bottom: 1rem;
      margin-top: 3rem;
      text-align: center;
    }
    #content {
      flex: 1 0 auto;
      margin-left: auto;
      margin-right: auto;
    }
    #footer {
      flex: none;
      font-size: 0.85rem;
      height: 3rem;
      text-align: center;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @titleFontFamily;
}

a.active {
  font-weight: bold;
}

// BOARD ===========================================================================================
.setup-board(@gridStep) {
  font-size: @gridStep;

  &.cols-1 {width: @gridStep * 1}
  &.cols-2 {width: @gridStep * 2}
  &.cols-3 {width: @gridStep * 3}
  &.cols-4 {width: @gridStep * 4}
  &.cols-5 {width: @gridStep * 5}
  &.cols-6 {width: @gridStep * 6}
  &.cols-7 {width: @gridStep * 7}
  &.cols-8 {width: @gridStep * 8}
  &.cols-9 {width: @gridStep * 9}
  &.cols-10 {width: @gridStep * 10}

  &.rows-1 {height: @gridStep * 1}
  &.rows-2 {height: @gridStep * 2}
  &.rows-3 {height: @gridStep * 3}
  &.rows-4 {height: @gridStep * 4}
  &.rows-5 {height: @gridStep * 5}
  &.rows-6 {height: @gridStep * 6}
  &.rows-7 {height: @gridStep * 7}
  &.rows-8 {height: @gridStep * 8}
  &.rows-9 {height: @gridStep * 9}
  &.rows-10 {height: @gridStep * 10}
}

.board {
  @gridStep: 60px;
  @cellMargin: 1px;
  .setup-board(@gridStep);
//  &.big {
//    @gridStep: 100px;
//    .setup-board(@gridStep);
//  }
//  &.sm {
//    @gridStep: 10px;
//    .setup-board(@gridStep);
//  }

  .cell {
    margin: @cellMargin;
    border-radius: 0.05em;

    float: left;
    height: @gridStep - @cellMargin * 2;
    width: @gridStep - @cellMargin * 2;

    .card {
      cursor: pointer;
      display: block;
      font-size: 50%;
      height: 100%;
      line-height: @gridStep;
      text-align: center;
      width: 100%;

      &.hidden {
        visibility: hidden;
      }

      .front {
        background-color: black;
        color: white;
      }

      .back {
        background-color: white;
        color: black;
      }
    }

    .card.flipper {
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;

      .front, .back {
        backface-visibility: hidden;
        transition: 0.5s;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      .front {
        transform: rotateY(0deg);
        z-index: 2;
      }

      .back {
        transform: rotateY(-180deg);
      }

      &.flipped {
        cursor: default;

        .front {
          transform: rotateY(180deg);
        }
        .back {
          transform: rotateY(0deg);
        }
      }
    }
  }
}
